.local_ai_manager-green {
    color: #00bf00;
}

.local_ai_manager-red {
    color: #ff0000;
}

.local_ai_manager-infobox {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #60616D;
    font-family: "Atkinson Hyperlegible";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.local_ai_manager-infobox p {
    margin: 0;
}

/* TODO These super specific weird selectors are necessary to overwrite our theme definitions. Move the specific ones to the theme and replace these here by ones
    working with boost.
 */
#page input[type="checkbox"]:not([disabled]).local_ai_manager-checkbox-switch, #page input[type="checkbox"]:checked:not([disabled]).local_ai_manager-checkbox-switch {
    position: relative;
    width: 2.75rem;
    height: 1.5625rem;
    padding: 0.125rem 1.5rem 0.125rem 0.125rem;
    border-radius: 3.125rem;
    border: 0.125rem solid grey;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    background-color: unset;
}

#page input[type="checkbox"].local_ai_manager-checkbox-switch::before, #page input[type="checkbox"]:hover.local_ai_manager-checkbox-switch::before {
    content: "";
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    background: #a4a5ac;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.125rem;
    transition: 0.5s;
}

#page input[type="checkbox"]:checked.local_ai_manager-checkbox-switch::after {
    content: "";
}

#page input[type="checkbox"]:checked:not([disabled]).local_ai_manager-checkbox-switch {
    background: var(--color-primary);
    border-color: var(--color-primary);
}

#page input[type="checkbox"]:checked.local_ai_manager-checkbox-switch::before {
    transform: translate(100%, -50%);
    background: #fff;
}


#page .local_ai_manager-checkbox-switch-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dark #page input[type="checkbox"]:checked:not([disabled]).local_ai_manager-checkbox-switch::before {
    background-color: #fff;
}

.rights-table-selection_info {
    font-weight: normal;
}

#page-local-ai_manager-quota_config .mbseasytoggle {
    display: none !important;
}

#page-local-ai_manager-purpose_config #region-main select {
    width: 100%;
}

body.path-local-ai_manager .secondary-navigation {
    padding-bottom: 2rem;
}

body.limitcontentwidth #page-content {
    max-width: 1000px;
    margin: 0 auto;
}

.local_ai_manager-info-warning {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Atkinson Hyperlegible";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-top: 0.5rem;
}

.local_ai_manager-info-warning .local_ai_manager-info-warning-text {
    margin: 0;
}

.local_ai_manager-info-warning .local_ai_manager-info-warning-link {
    color: #a4a5ac;
}

.dark .local_ai_manager-info-warning .local_ai_manager-info-warning-link {
    color: #60616d;
}
