{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ai_manager/instancetable

    Admin text setting template.

    Context variables required for this template:
    * label - form element name
    * href - element id
    * forceltr - always display as ltr

    Example context (json):
    {
        "label": "button label",
        "href": "http://google.com",
        "forceltr": false
    }
}}
<div class="local_ai_manager-instancetable">
    <h3>Aktuelle Instanzen:</h3>
    <table class="table table-responsive table-hover">
        <thead scope="row">
            <th scope="col">INSTANCENAME</th>
            <th scope="col">SCHULE</th>
            <th scope="col">TOOL</th>
            <th scope="col">ENDPOINT</th>
            <th scope="col">APIKEY</th>
            <th scope="col">MODEL</th>
            <th scope="col">INFOLINK</th>
            <th scope="col">EDITBUTTONS</th>
        </thead>
        <tbody>
            {{#instances}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{tenant}}</td>
                    <td>{{connector}}</td>
                    <td>{{endpoint}}</td>
                    <td>{{apikey}}</td>
                    <td>{{model}}</td>
                    <td>{{infolink}}</td>
                    <td>{{> local_ai_manager/instanceeditbuttons}}</td>
                </tr>
            {{/instances}}
        </tbody>
    </table>
</div>
<div class="local_ai_manager-add_instance_buttonbar">
    <h3>Neue Instanz erstellen:</h3>
    {{#instanceaddbuttons}}
        <a class="btn btn-link" href="{{{addurl}}}">{{label}}</a>
    {{/instanceaddbuttons}}
</div>
